@mixin clearfix {
    &::after {
       content: "";
       display: table;
       clear: both; 
    }
}

@mixin on-top-of {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

@mixin box-shadow($opacity) {
    box-shadow: 0 1.5rem 4rem rgba($color-black, $opacity);
}